* {
    margin: 0;
    padding: 0;
}

.the-logo {
    width: 150px;
    height: 150px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 6%; 
}
.header {
    background-image: url("./images/main-page/home-background-image.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    min-height: 100vh;
    width: 100%;
}

.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 3px 3px;
    position: relative;
}
.nav-links ul li a {
    color:white;
    text-decoration: none;
    
}
.page-footer {
    height: 4rem;
    background: black;
    color: white;    
    display: flex;
    align-items: center;
    justify-content: center;
    word-spacing: 5px;
}
.footer-logo {
    color:purple;
}
.page-footer a {
    color: purple;
    text-decoration: none;

}
.page-footer a:hover {
    color: chocolate;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: chocolate;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}
.text-box {
    text-align: center;
    color:burlywood;
    line-height: 30px;
    margin-top: 120px;
}
.text-box a {
    color: chocolate;
    text-decoration: none;
    
}
.text-box a:hover {
    color: gold;
}

@media screen and (min-width: 576px) {
    .nav-links ul li {
        padding: 8px 12px;
    }
}

/*************
About Page
*************/
.header-about {
    background-image: url("./images/main-page/about-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    min-height: 100vh;
    width: 100%;
}

.about-main-text {
    text-align: center;
    justify-content: center;
    line-height: 30px;
    font-weight:900;
    font-style: italic;
    font-size: 1.1em;
    
}
.about-header {
    color: darkorange;
    
}
.about-content {
    text-align: center;
    color: burlywood;
    font-size: medium;
    
}
.more-about {
    color: burlywood;
    margin-top: 30px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (min-width: 576px) {
    .about-content {
       font-size: 17px;
     
    }
    .more-about {
        font-size: 20px;
    }
}
@media screen and (min-width: 992px) {
    .about-content {
       font-size: 20px;
    }
    .more-about {
        font-size: 23px;
    }
    
}
@media screen and (min-width: 1200px) {
    .about-content {
        width: 600px;
        padding-left: 350px;
        font-size: 1em;
    }
    
}
/**************
Music page
**************/

.music-image {
    height: 200px;
    width: 200px;
    margin-bottom: 5px;
    
}
.music-text {
    color: darkkhaki;
}
.header-music {
    background-image: url("./images/main-page/music-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    width: 100%;
}
.music-tags {
    display: grid;
    gap: 2rem 1rem;
    padding-bottom: 3rem;
    justify-content: center; 
    
}
.music-text::after {
    content: '';
    width: 0%;
    height: 2px;
    background:chocolate;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.music-text:hover::after {
    width: 100%;
}
.music-genre {
    text-decoration: none;
}

@media screen and (min-width: 576px) {
    .music-tags {
        grid-template-columns: 1fr 1fr;
        margin-left: 100px;
    }
    
}

/***************
Reflective Page
***************/

.header-reflect {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./images/music/reflect-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    width: 100%;
   
    
}
.heading {
    color:gold;
    text-align: center;
    font-weight: 700;
}
.intro-text {
    color: pink;
    text-align: center;
    font-weight: bolder;
    font-size: large;
    
}
.reflect-music {
    line-height: 30px;
    font-weight:900;
    font-style: italic;
    font-size: 1.1em;

}


.song-link {
    text-decoration: none;
    color: chocolate;
    
    
}


.music-list {
    display: grid;
    gap: 2rem 1rem;
    padding-bottom: 3rem;
    
}
.song-title::after {
    content: '';
    width: 0%;
    height: 2px;
    background: chocolate;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.song-title:hover::after {
    width: 100%;
}


.tags-container {
    order: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    padding-left: 3rem;
}
/* .tags-container h4 {
    margin-bottom: 0.5rem;
    font-weight: bolder;
    color:rgb(110, 49, 27);
    font-size: 20px;
    font-style:italic;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 2rem;
} */
.heading-four {
    /* margin-bottom: 0.5rem; */
    font-weight: bolder;
    color:rgb(110, 49, 27);
    font-size: 20px;
    font-style:italic;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 2rem;
}
.tags-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
}
.tags-list a {
    text-transform: capitalize;
    color: rgb(181, 204, 223);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}
.tags-list a:hover {
    color: chocolate;
}



.music-image {
    
    height: 15rem;
    border-radius: 3rem;
    margin-bottom: 1rem;
    margin-left: 9rem;

}


.song-link p {
    margin-bottom: 0;
    line-height: 1;
    color: chocolate;
    margin-left: 10rem;
    font-weight: bold;
}
 
  
  

@media screen and (min-width: 576px) {
    .music-list {
        grid-template-columns: 1fr 1fr;
    }
    .music-image {
        margin-left: 3rem;
        height: 10rem;
    }
    .song-link p {
        margin-left: 4rem;
    }


}

@media screen and (min-width: 992px) {
    
    .music-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .music-image {
        margin-left: 3rem;
        margin-right: 3rem;
    }
    .song-title {
        margin-left: 3rem;
    }
    .tags-container {
        order: 0;

    }
    .tags-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .tags-list a {
        font-size: 17px;
    }


}

@media screen and (min-width: 1200px) {
   
    .music-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .music-image {
        margin-left: 3em;
        margin-right: 3rem;
        
    }
    .song-title {
        margin-left: 4rem;
    }


}


/*************
Spiritual Page
*************/

.header-spiritual {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("./images/music/spiritual-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    width: 100%;
}
.spiritual-music {
    line-height: 30px;
    font-weight:900;
    font-style: italic;
    font-size: 1.1em;
}
.spiritual-music h3 {
    color: rgb(233, 121, 121);
    font-weight: bolder;
    
}
.spiritual-music .intro-text {
    color:wheat;
}
.header-spiritual .heading-four {
    color: rgb(110, 98, 25);
}
.header-spiritual .tags-list a {
    color: rgb(216, 206, 152);
}
.header-spiritual .tags-list a:hover {
    color: gold;
}


/***************
Mawkish Page
***************/

.header-mawkish {
    background-image: url("./images/music/mawkish-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    width: 100%;
}
.mawkish-music {
    line-height: 30px;
    font-weight:900;
    font-style: italic;
    font-size: 1.1em;
}
.mawkish-music h3 {
    color: pink;
    
}
.mawkish-music .intro-text {
    color:lightsalmon;
}
.header-mawkish .heading-four {
    color: chocolate;
}
.header-mawkish .tags-list a {
    color: rgb(214, 177, 150);
}
.header-mawkish .tags-list a:hover {
    color: goldenrod;
}
.header-mawkish .song-link p {
    color: pink;
}


/***************
Relax Page
***************/

.header-relax {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./images/music/relax-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    width: 100%;
}
.relax-music {
    line-height: 30px;
    font-weight:900;
    font-style: italic;
    font-size: 1.1em;
}
.relax-music h3 {
    color: greenyellow;
    
}
.relax-music .intro-text {
    color:rgb(175, 201, 136);
}
.header-relax .heading-four {
    color: rgb(207, 207, 87);
}
.header-relax .tags-list a {
    color: burlywood;
}
.header-relax .tags-list a:hover {
    color: yellowgreen;
}

.header-relax .song-link p {
    color:rgb(179, 211, 132);
}

/***************
Feel-Good Page
***************/

.header-happy {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./images/music/happy-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    width: 100%;
}
.happy-music {
    line-height: 30px;
    font-weight:900;
    font-style: italic;
    font-size: 1.1em;
}
.happy-music h3 {
    color: rgb(221, 171, 96);
    
}
.happy-music .intro-text {
    color:rgb(224, 198, 202);
}
.header-happy .heading-four {
    color:  rgb(221, 171, 96);
}
.header-happy .tags-list a {
    color:rgb(180, 160, 134);
}
.header-happy .tags-list a:hover {
    color: chocolate;
}

.header-happy .song-link p {
    color: rgb(224, 198, 202);
    font-weight: bolder;
}


/***************
Sad Page
***************/

.header-sad {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./images/music/sad-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    width: 100%;
}
.sad-music {
    line-height: 30px;
    font-weight:900;
    font-style: italic;
    font-size: 1.1em;
}
.sad-music h3 {
    color: rgb(221, 171, 96);
    
}
.sad-music .intro-text {
    color:rgb(224, 198, 202);
}
.header-sad .heading-four {
    color:  rgb(221, 171, 96);
}
.header-sad .tags-list a {
    color:rgb(180, 160, 134);
}
.header-sad .tags-list a:hover {
    color: chocolate;
}

.header-sad .song-link p {
    color: chocolate;
    font-weight: bolder;
}



/***************
Deep Page
***************/


.header-deep {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./images/music/deep-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    width: 100%;
}
.deep-music {
    line-height: 30px;
    font-weight:900;
    font-style: italic;
    font-size: 1.1em;
}
.deep-music h3 {
    color: rgb(160, 211, 66);
    
}
.deep-music .intro-text {
    color:rgb(198, 224, 204);
}
.header-deep .heading-four {
    color: rgb(165, 219, 84);
}
.header-deep .tags-list a {
    color:rgb(140, 231, 161);
}
.header-deep .tags-list a:hover {
    color: rgb(30, 198, 210);
}

.header-deep .song-link p {
    color: rgb(64, 200, 235);
    font-weight: bolder;
}

.header-deep .song-title::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(221, 221, 236);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.header-deep .song-title:hover::after {
    width: 100%;
}
/***************
Hopeful Page
***************/

.header-hopeful {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./images/music/hopeful-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    width: 100%;
}
.hopeful-music {
    line-height: 30px;
    font-weight:900;
    font-style: italic;
    font-size: 1.1em;
}
.hopeful-music h3 {
    color: goldenrod;
    
}
.hopeful-music .intro-text {
    color:rgb(216, 197, 92);
}
.header-hopeful .heading-four {
    color: rgb(228, 207, 92);
}
.header-hopeful .tags-list a {
    color: yellowgreen;
}
.header-hopeful .tags-list a:hover {
    color: burlywood;
}

.header-hopeful .song-link p {
    color: burlywood;
    font-weight: bolder;
}
